.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2.4rem;
  background: var(--gray-500);
  border-radius: 8px;
}
.checkTasksText{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.checkTasksText p {
  font-size: 1.4rem;
  color: var(--gray-100);
  padding: 1.6rem 0;
}

.checkTasksText button,
.trash button {
  background: none;
  border: none;
  /* cursor: pointer; */
  padding: 0 1.2rem 0 1.6rem;
}





